.App {
  background-color: #282c34;
}

.Playground {
  background-color: #282c34;
  align-items: center;
}
.PlaygroundFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #282c34;
  align-items: center;
}

.Box {
  background-color: grey;
  border-style: solid;
  border-color: black;
  color: antiquewhite;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.BoxClose {
  background-color: darkgrey;
  border-style: solid;
  border-color: black;
  color: darkgrey;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.FlagBomb {
  background-color: lightslategray;
  border-style: solid;
  border-color: black;
  color: red;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.FlagSuspicious {
  background-color: lightslategray;
  border-style: solid;
  border-color: black;
  color: blue;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.BoxBomb {
  background-color: red;
  border-style: solid;
  border-color: black;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 20px;
  display: inline-block;
}
